	
	*{ margin:0; padding:0; font-family:Arial, Helvetica, sans-serif; outline:none; }
	
	.ext-webkit .x-small-editor .x-form-text { font-size: 12px; }
	
	.btn_normal{
		-moz-user-select: none; -webkit-user-select: none; font-size:13px; text-decoration: none;
		text-align:center; color:#555; font-weight:bold; display:inline-block; border:1px solid #888; 
		-webkit-border-radius: 5px 5px; -moz-border-radius: 5px 5px; border-radius: 5px 5px;
		min-height:15px; padding: 5px; margin-top:10px; cursor:pointer; background: #FFF; 
		background: #FFF -moz-linear-gradient(-90deg,#FFF,#BBB);
		background: #FFF -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFF), to(#BBB)); 
		filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#FFFFFF', EndColorStr='#BBBBBB');
		transition:all 0.5s;
	}
	.btn_normal:hover{
		-webkit-box-shadow: #666 0px 1px 2px; -moz-box-shadow: #666 0px 1px 2px; box-shadow: #666 0px 1px 2px;
		color:#333; border:1px solid #555; background: #FFF;
		background: #FFF -moz-linear-gradient(-90deg,#EEE,#BBB);
		background: #FFF -webkit-gradient(linear, 0% 0%, 0% 100%, from(#EEE), to(#BBB));
		filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#EEEEEE', EndColorStr='#BBBBBB');	
	}
	.btn_normal:active{
		-webkit-box-shadow: #666 0px 1px 1px; -moz-box-shadow: #666 0px 1px 1px; box-shadow: #666 0px 1px 1px;
		color:#333; border:1px solid #555; background: #FFF;
		background: #FFF -moz-linear-gradient(-90deg,#AAA,#BBB);
		background: #FFF -webkit-gradient(linear, 0% 0%, 0% 100%, from(#AAA), to(#BBB));
		filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#EEEEEE', EndColorStr='#BBBBBB');	
	}
	
	.wrapper{ position:relative;}
	.menu_ppal{ background:#111; border-bottom:1px solid #C5C5C5; color:#FFF; height: 36px; position:relative; z-index: 2; }
	.contenedor_menu_ppal{ width:1000px; position:relative; }
	.logo{ position:absolute; top:5px; left:0px; }
	.otros_links{ position:absolute; top:10px; left:140px; font-size:12px; color:#C5C5C5; }
	.otros_links a{ margin-left:10px; margin-right:10px; }
	.otros_links a:active,.otros_links a:visited,.otros_links a:link{ text-decoration:underline; font-size:12px; color:#C5C5C5; }
	.otros_links a:hover{ text-decoration:none; }
	
	.accessos_directos{ position:absolute; top:8px; right:-30px; }
	.accessos_directos a{ margin-left:5px; margin-right:5px; }
	.accessos_directos a:active,.accessos_directos a:visited,.accessos_directos a:link{ text-decoration:underline; font-size:13px; color:#FFF; }
	.accessos_directos a:hover{ text-decoration:none; }
	.accessos_directos a{ display:inline-block; padding-left:20px; }
	.accessos_directos #chat{ margin-left:5px; margin-right:5px; background:url(../img/messages_user.png) no-repeat; }
	.accessos_directos #cale{ margin-left:5px; margin-right:5px; background:url(../img/minilogo.png) no-repeat; }
	.accessos_directos div{ background:url(../img/profile.gif) no-repeat 6px 2px; padding-left:25px; border:1px solid transparent; }
	.accessos_directos #user{ margin-top:1px; margin-left:5px; margin-right:5px; height:15px; overflow:visible; }
	.accessos_directos #user:link, .accessos_directos #user:visited, .accessos_directos #user:active{ text-decoration:none; }
	.accessos_directos #user #standby span{ border-bottom:1px dotted #FFF; }
	.accessos_directos #user .arrow{ margin-left:5px; }
	.separador_pequenyo{ font-size:10px; color:#C5C5C5; }
	.arrow{ margin-bottom:2px; }
	
	#activated { 
		color:#000; background-color:#FFFFFF; height:75px; border:1px solid #C5C5C5; display:none; position:relative; overflow:hidden;
	}
	.activated_nombre { margin-top:5px;border-bottom:1px dotted #000; }
	.menu_botones{ position:absolute; top:15px; left:0; 
	background:#FFF; margin-top:5px; padding-left:0px;
	width:110%; }
	.menu_botones a:visited, .menu_botones a:active, .menu_botones a:link{
		display:block; color:#000; text-decoration:none; margin:5px; height:15px; padding-top:3px; padding-bottom:3px;
		text-align:left; font-size:12px; width:95%; padding-left:10px;
	}
	.menu_botones hr{ margin-left:10px; border: 1px solid #C5C5C5; }
	.menu_botones a:hover{
		background:#DDD;
	}
	
	/*---*/
	.obj_pestanyas_ppal{ background: url(../img/topheader_bg.gif) repeat-x 0 -140px; height:95px; position:relative; }
	.contenedor_pestanyas{ width:1000px; position:relative; }
	.logo_crm{ position:absolute; top:12px; left:0px; font-size:28px; color:#FFF; }
	.img_logo_crm{ float:left; margin-right:8px; }
	.busqueda{ position:absolute; top:18px; right:0px; width:200px; }
	.busqueda .txt_buscar{ width:165px; height:22px; font-family:Arial, Helvetica, sans-serif; }
	.busqueda .lupa{ float:right; cursor:pointer; }
	.linea_pestanyas{ position:absolute; bottom:0; left:0; background:#3186AF; height:5px; width:100%; }
	.fondo_pestanyas{ position:absolute; bottom:5px; left:0; background:#31363B; width:100%; height:30px; }
	.botones{ position:absolute; bottom:-90px; left:0; width:100%; z-index:1; color:#FFF; text-align:left; }
	.botones .btn_left, .botones .btn_right { 
		text-decoration:none; color:#FFF; cursor:pointer; background:url(../img/tab_bg.png) 0 -10px; display:inline-block;
		padding-left:10px; padding-right:10px; padding-top:5px; height:21px; font-size:16px;
	}
	.botones .btn_right { position:absolute; right:0px; top:0; }
	.botones .tab_selected{ background:url(../img/tab_selected_bg.png) 0 -10px; }
	
	.cuerpo_ppal{ height:400px; }
	.contenedor_formu{ width:1420px; margin-top:5px; border:1px solid #C5C5C5; padding-top:10px; padding-bottom:40px; text-align:left; }
	.botones_manntos{ width:960px; height:45px; margin-bottom:0px; text-align:left; margin-left:10px; }
	.botones_manntos *{ font-family:Arial, Helvetica, sans-serif; }
	.title_content{ font-weight:bold; font-size:20px; }
	.buttons td{ padding-left:0; padding-right:10px; }
	.link_buttons:active, .link_buttons:visited, .link_buttons:link{ 
		color:#0C1D6B; font-size:13px; 
		padding-top: 3px; padding-bottom: 3px; display:block;
	}
	.link_buttons:hover{ text-decoration:none; color:#0C1D6B; }
	.icon_add{ background:url(../img/iconos/add.png) 1px 2px no-repeat; padding-left:20px; }
	.icon_import{ background:url(../img/iconos/import.png) no-repeat; padding-left:20px; }
	#grid{ margin-left:10px; }

	.list_buttons:active, .list_buttons:visited, .list_buttons:link{ 
		color:#444444; display:block; width:100%; background-color:#FAFAFA; font-size:13px; text-decoration: none; 
		border-bottom: 1px solid #DDDDDD; transition: all 0.5s;
	}
	.list_buttons:hover{ 
		background-color:#EEEEEE;
		box-shadow: 0 0 2px #AAAAAA; 
		-webkit-box-shadow: 0 0 2px #AAAAAA;
	}
	
	.settings_table td{
		height:20px;
	}
	.settings_table a{
		padding-top: 8px;
		padding-bottom: 8px;
	}
	.icon_mannto{ background:url(../img/iconos/gear.png) 5px 7px no-repeat; padding-left:25px; }
	
	.botones_formu{ width:960px; height:45px; margin-bottom:0px; text-align:left; margin-top:20px; margin-left:30px; }
	.botones_formu *{ font-family:Arial, Helvetica, sans-serif; }
	.contenedor_campos { width:900px; margin-bottom:0px; text-align:left; margin-left:50px; }
	.contenedor_campos * { font-family:Arial, Helvetica, sans-serif; }
	.input_txt{ border:1px solid #CCC; height:20px; }
	.title_input{ font-size: 13px; font-weight:bold; color:#222; }
	.require::after {
		content: "*";
		color: #C00;
		font-size: 16px;
	}
	
	.contenedor_collapsed { margin-bottom:0px; text-align:left; margin-left:30px; }
	.contenedor_collapsed * { font-family:Arial, Helvetica, sans-serif; }
	
	.title_collapsible { color:#1A6DB3; font-size:18px; cursor:pointer; }
	.linea_infoG { border-top:1px solid #C5C5C5; margin-left:0; margin-top:5px; margin-bottom:5px; height:1px; }
	.campos_nuevos{ margin-top:10px; cursor:pointer; }
	.new_Fields { font-size:13px; font-weight:bold; border-bottom:1px dotted #000; color:#222; }
	.permiso_cliente { margin-left:10px; background:#EDF6FD; padding-bottom:10px; }
	
	.title_permiso { margin-left:20px; margin-top:10px; color:#222; font-size:16px; font-weight:bold; }
	.descripcion_permiso { font-size:13px; margin-left:20px; }
	.campo_permiso { margin-left:30px; margin-top:10px; background:#FFF; padding:4px; border:1px solid #BBD5E9; display:inline-block; }
	.title_chk_permiso { font-size:13px; float:right; margin-left:5px; }
	
	.button_f{ 
		display:inline-block; padding:7px 7px 7px 7px; font-size:12px; border:1px solid #C5C5C5; 
		/*background:url(../img/iconos/button_grey_bg.gif); */
		background: #e2e2e2; /* Old browsers */
		background: -moz-linear-gradient(top, #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #efefef 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e2e2e2), color-stop(50%,#dbdbdb), color-stop(51%,#d1d1d1), color-stop(100%,#efefef)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#efefef 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#efefef 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#efefef 100%); /* IE10+ */
		background: linear-gradient(to bottom, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#efefef 100%); /* W3C */
		cursor:pointer; 
		transition: all 0.5s;
	}
	.button_f:hover{ 
		/*background:url(../img/iconos/button_grey_over_bg.gif) repeat-x;*/
		background: #eaeaea; /* Old browsers */
		background: -moz-linear-gradient(top, #eaeaea 0%, #efefef 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eaeaea), color-stop(100%,#efefef)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #eaeaea 0%,#efefef 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #eaeaea 0%,#efefef 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, #eaeaea 0%,#efefef 100%); /* IE10+ */
		background: linear-gradient(to bottom, #eaeaea 0%,#efefef 100%); /* W3C */
	}
	
	.button_f_principal{  
		color:#FFF; border:1px solid #105777; 
		/*background:url(../img/iconos/button_over_bg.png) repeat-x; 
		background:url(../img/iconos/button_bg.png) repeat-x;*/
		background: #1e5799; /* Old browsers */
		background: -moz-linear-gradient(top, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(50%,#2989d8), color-stop(51%,#207cca), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* IE10+ */
		background: linear-gradient(to bottom, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* W3C */
	}
	.button_f_principal:hover{ 
		/*background:url(../img/iconos/button_over_bg.png) repeat-x; */
		background: #207cca; /* Old browsers */
		background: -moz-linear-gradient(top, #207cca 0%, #2989d8 50%, #7db9e8 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#207cca), color-stop(50%,#2989d8), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #207cca 0%,#2989d8 50%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #207cca 0%,#2989d8 50%,#7db9e8 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, #207cca 0%,#2989d8 50%,#7db9e8 100%); /* IE10+ */
		background: linear-gradient(to bottom, #207cca 0%,#2989d8 50%,#7db9e8 100%); /* W3C */
	}
	.button_f_disabled, .button_f_disabled:hover{ 
		color:#BBB !important; cursor:default;
		background: #EAEAEA;
	}
	
	.lista_empleados {height:30px;}
	.sel_empleado { margin-left:30px; margin-top:5px; margin-bottom:10px; background:transparent; }
	.title_empleados{ font-size:13px; font-weight:bold; }
	.icon_empleado{ margin-right:3px; float:left; width:12px; height:12px; }
	.empleadoActual td, .empleadoNuevo td{ font-size:13px; cursor:default; }
	
	.empleadoNuevo, .empleadoActual { float:left; margin-right:10px; }
	.empleadoNuevo .icon_empleado { cursor:pointer; }
	.anyadir_empleado { background:url(../img/iconos/add_user.png) no-repeat 0 -4px; padding-left:20px; font-size:13px; text-decoration:dotted; position:relative; }
	.anyadir_empleado span { display:inline-block; border-bottom:1px dotted #000; font-size:13px; color:#1A6DB3; cursor:pointer; }
	
	.lista_adds_empleados{ width:400px; height:95px; overflow:auto; border:1px solid #C5C5C5; background:#FFF; position:absolute; top:20px; left:0; display:none; }
	
	.innerCampos { margin-left:0; margin-top:3px; }
	.dinamic_input{ width:425px; height: 17px; border:1px solid #C5C5C5; font-size:11px; }
	.dinamic_combo{ width:75px; height:19px; border:1px solid #C5C5C5; margin-left:3px; font-size:11px; padding:1px; }
	
	.sel_empleado_list { 
		background:url(../img/iconos/default_user_photo_size_32-32.gif) no-repeat; color:#444; font-size:11px; 
		height:30px; cursor:pointer; display:block; width:383px;
	}
	.sel_empleado_list p { padding-left:40px; padding-top:8px; }
	.sel_empleado_list:hover { background:#E5E5E5 url(../img/iconos/default_user_photo_size_32-32.gif) no-repeat; }
	
	
	
	/*Estilos de ventana*/
	.header_popup{ width:100%; position:relative; height:35px; color:#FFF; background:url(../img/iconos/popup_header_bg.png) repeat-x; }
	.close_popup{ position:absolute; right:15px; top:10px; cursor:pointer; }
	.title_popup{ position:absolute; left:10px; top:5px; color:#FFF; font-size:18px; }
	
	.texto_categoria_task{ font-size:13px; }
	.texto_nombre_cliente{ color:#444;font-size:13px; }
	.texto_fecha_cliente{ color:#888; font-size:11px; }
	
	.agregar_grid{ background-image:url(../img/iconos/add.png) !important; }
	.guardar_grid{ background-image:url(../img/iconos/save.png) !important; }
	.borrar_grid{ background-image:url(../img/iconos/trash.png) !important; }
	.actions_grid{ background-image:url(../img/iconos/actions.png) !important; }
	
	.text_tooltip{ font-size:13px; color:#444; }
	
	.body_tooltip * { font-size:12px; color:#444; }
	.tooltip_header { font-size:13px;font-weight:bold; padding-bottom:5px; }
	.tooltip_title { font-weight:bold; border-top:1px solid #666; }
	.tooltip_fechahora { border-top:1px solid #666; }
	.tooltip_estado{ border-top:1px dotted #666; padding-bottom:5px; }
	.tootlip_info{ font-size:13px; }
	
	
	.x-date-picker{ width:175px; }
	
	.x-form-text { font-size: 12px; }
	
	
	/*----Nuevo mensaje flotante----*/
	.marMSG{ height:5px; }
	.nv_msgT{
		padding:10px; font-size:14px; color:#393939; margin-left:5px; margin-right:5px;
		font-family: "Myriad Pro","Myriad Web","Tahoma","Helvetica","Arial",sans-serif;
		border:1px solid #888; 
		-webkit-border-radius: 5px 5px; -moz-border-radius: 5px 5px; border-radius: 5px 5px;
		background: #FFF; 
		background: #FFF -moz-linear-gradient(-90deg,#FFF,#BBB);
		background: #FFF -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFF), to(#BBB)); 
		filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#FFFFFF', EndColorStr='#BBBBBB');
		-webkit-box-shadow: #FFF 0px 1px 5px; -moz-box-shadow: #FFF 0px 1px 5px; box-shadow: #FFF 0px 1px 5px;
	}
	.nv_msgT h3{ font-weight: bold; }
	/*--Fin Nuevo mensaje flotante--*/
	
	
	.lead_info { color:#666; }
	.lead_info td { font-size:12px; }
	.lead_info .leadinfo_title{ font-size:15px; font-weight:bold; }
	
	
	/*----Comentarios de SalesLeads----*/
	.main_comment{ width:100%; }
	.main_comment table{ margin}
	.main_comment * { font-family:Arial,Helvetica,sans-serif; }
	.main_comment .nombreSales{ color:#666; font-weight:bold; font-size:13px; }
	.main_comment .fecha, .main_comment .puesto{ color:#999; font-size:11px; }
	.main_comment .comentario { color:#555; font-size:12px; }
	.main_comment .links{ color:#999; font-size:11px; margin-right:10px; }
	.main_comment .links a:active, .main_comment .links a:visited, .main_comment .links a:link{
		color:#999; font-size:13px; text-decoration:none;
	}
	.main_comment .links a:hover{ text-decoration:underline; }
	.main_comment .row_links{ text-align:right; }
	.main_comment:hover{ background:#E3F2FA; }
	
	.noComment{ font-family:Arial,Helvetica,sans-serif; font-size:11px; margin-top:100px; font-weight:bold; color:#C5C5C5; }
	.desc_archivo * { font-family:Arial,Helvetica,sans-serif; font-size:11px; color:#666; }
	.desc_archivo img { cursor:pointer; }
	/*-----Fin de comentarios-----*/
	
	
	.alertStatusChange{
		font-weight:bold;
		font-size:13px;
		color:#666;
		padding-left:20px;
	}
	
	
	
	/*------------------Listado de Home-----------------*/
	.main_item{ 
		width:300px;padding:5px; margin-right:30px; 
		transition: all 0.5s; 
		box-shadow: 0 0 1px #AAAAAA; 
		-webkit-box-shadow: 0 0 1px #AAAAAA;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
		margin-bottom: 10px; 
	}
	.main_item * { font-family:Arial; }
	.main_item .titulo_item{ color:#666; font-weight:bold; font-size:15px; }
	.main_item .date_item, .main_item .data_item, .main_item .icons_item{ color:#999; font-size:13px; }
	.main_item .status_item { color:#555; font-size:14px; }
	.main_item .item_highligh { font-weight:bold; color:red; }
	.main_item .links{ color:#999; font-size:13px; }
	.main_item .links a:active, .main_item .links a:visited, .main_item .links a:link{
		color:#999; font-size:13px; text-decoration:none;
	}
	.main_item .links a:hover{ text-decoration:underline; }
	.main_item .row_links{ text-align:right; }
	.main_item:hover{ 
		background:#EEE; 
		box-shadow: inset 0 0 2px #AAAAAA; 
		-webkit-box-shadow: inset 0 0 2px #AAAAAA;
	}
	.title_items{ color:#666; font-weight:bold; font-family:Arial; }
	#show_projects, #show_salesleads, #show_dest_salesleads { margin-left:50px; }
	/*--------------------------------------------------------*/
	
	
	
	.infoCliente{ border:1px solid #C5C5C5; height:90px; }
	.emptyContact{
		color:#C5C5C5;
		font-size:20px;
		font-weight:bold;
		margin-left:120px;
		margin-top:30px;
	}
	
	.links_home a{ color:#999; font-size:13px; margin-left:50px; }
	.links_home a:active, .links_home a:visited, .links_home a:link{
		color:#999; font-size:13px; text-decoration:none;
	}
	.links_home a:hover{ text-decoration:underline; }
	.links_home{ height:25px; }
	

	.modalBloqueo{
		background: #000000;
		opacity: 0.9 !important;
		width:100%;
		height:100%;
		position:fixed;
		top:0;
		left:0;
		z-index:100;
	}

	.modalBloqueoTexto{
		opacity: 0.9 !important;
		width:100%;
		height:100%;
		position:fixed;
		top:0;
		left:0;
		z-index:101;
	}
	.modalBloqueoTexto .textoExp {
		text-align: center;
		color:#444444;
		background: #FFFFFF;
		font-size: 30px;
		font-weight: bold;
		padding: 20px;
		-webkit-box-shadow: #FFF 0 0 5px; -moz-box-shadow: #FFF 0 0 5px; box-shadow: #FFF 0 0 5px;
		-webkit-border-radius: 5px 5px; -moz-border-radius: 5px 5px; border-radius: 5px 5px;
	}

	.contactBox, .messagesBox{
		position: fixed;
		bottom: 0;
		right:10px;
		width: 200px;
		z-index: 20;
		font-weight: bold;
		-moz-user-select: none; -webkit-user-select: none; font-size:13px;
		text-align:center; color:#555; border:1px solid #888; 
		/*-webkit-border-radius: 5px 5px; -moz-border-radius: 5px 5px; border-radius: 5px 5px;*/
		cursor:pointer; background: #DDD; 
		background: #DDD -moz-linear-gradient(-90deg,#DDD,#BBB);
		background: #DDD -webkit-gradient(linear, 0% 0%, 0% 100%, from(#DDD), to(#BBB)); 
		filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#FFFFFF', EndColorStr='#BBBBBB');
		transition:all 0.5s;
	}
	.messagesBox{
		right:220px;
		width: 300px;
	}

	.contactBox:hover, .messagesBox:hover{
		-webkit-box-shadow: #666 0px 0px 4px; -moz-box-shadow: #666 0px 0px 4px; box-shadow: #666 0px 0px 4px;
		color:#333; border:1px solid #555; background: #DDD;
		background: #FFF -moz-linear-gradient(-90deg,#EEE,#BBB);
		background: #FFF -webkit-gradient(linear, 0% 0%, 0% 100%, from(#EEE), to(#BBB));
		filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#EEEEEE', EndColorStr='#BBBBBB');	
	}

	.contactBox .titleContactBox, .messagesBox .titleMessagesBox{
		display: block;
		padding: 5px;
	}

	.contactBox .contactListBox, .messagesBox .messagesListBox{
		border:1px solid #666;
		border-left: none; border-right: none;
		background:#FAFAFA;
		height: 400px;
		width: 200px;
		display:none;
		cursor: default;
		overflow: auto;
	}
	.messagesBox .messagesListBox{
		display: block;
		width: 300px;
		background:#FAFAFA;
	}

	.contactListBox .main_contact{
		background: #EEEEEE;
		border-bottom: 1px solid #AAA;
		cursor: pointer;
		transition: all 0.5s;
	}
	.contactListBox .main_contact:hover{
		background: #CCCCCC;
	}
	.contactListBox .main_contact .nombreSales{ 
		color:#666; font-weight:bold; font-size:13px; margin-left: 5px; display:block;
	}

	.messagesBox .typerMessage{

		width: 100%;
		padding: 5px;
		border: 1px solid #666666;
		-moz-user-select: text; -webkit-user-select: text; 
		text-transform: none !important; 
		border: none;
	}

	/*----Mensajes Chat----*/
	.main_message{ width:100%; }
	.main_message table{ }
	.main_message * { font-family:Arial,Helvetica,sans-serif; }
	.main_message .nombreSales{ color:#666; font-weight:bold; font-size:13px; display:inline-block; margin:0 0 0 5px; }
	.main_message .fecha { color:#999; font-size:11px; display:inline-block; margin:0 5px 0 0; }
	.main_message .mensaje { color:#555; font-size:12px; text-transform: none !important; margin:0 5px 0 5px; display:block; }
	
	.noMessages{ font-family:Arial,Helvetica,sans-serif; font-size:13px; font-weight:bold; color:#C5C5C5; }
	/*--------------------*/


	#webleadcomment{ color:#000000 !important; }